*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(230, 230, 230);
    background-image: -webkit-gradient(linear,
                    40% 0%,
                     75% 84%,
              from(rgb(0, 0, 0)),
              to(rgb(23, 53, 28)),
              color-stop(.8, rgb(17, 24, 17)))
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.3)10%,rgba(0,0,0,0.3)10%), url(img/dfsk-780x439-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 120px;
    
}

.main h3{
    color: white;
    letter-spacing: 2px;
    padding-top: 450px;
    padding-left: 25px;
    font-size: 35px;
    font-family: 'Georgia';
}
.btn{
    background-color: #4b5320;
    color: #fff;
    height: 50px;
    width: 130px;
    margin-left: 35px;
    border-radius: 50px;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 30px;
    
}
.navbar{
    top: 0;
    background-color: rgba(208, 210, 221, 1);
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    display: flex;
    width: 200px;
    float: left;
    height: 70px;
}

.icon img{
    width: 60px;
    height: 60px;
    padding-top: 4px;
    padding-left: 20px;
}
.menu{
    margin: 0;
    padding: 0;
    display: flex;
    width: 400px;
    float: right;
    padding: 1.5em;
    
    
    
}

ul{
    display: flex;  
    
    
}

ul li{
    list-style: none;
    align-items: center;
    
    
}

ul li a{
    text-decoration: none;
    color: #4b5320;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    padding-right: 1.2em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
    
    
}

ul li a:hover{
    color: white;    

}



